{% extends 'home/layout.html' %}

{% load static %}

{% block main %}

<!-- About Area -->
<div class="about-area about-max pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-xxl-6">
                <div class="about-img about-ml">
                    <img src="{% static 'assets/img/about/3.jpg' %}" alt="About Images">
                </div>
            </div>

            <div class="col-lg-7 col-xxl-6">
                <div class="about-content about-width">
                    <span>About Us</span>
                    <h2>We Are Helping People to Reach Their Customer Since 2005</h2>
                    <p>
                        It is a long established fact that a reader will be distracted 
                        by the readable content of a page when looking at its layout. 
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                    </p>
                    <p>
                        As opposed to using 'Content here, content here', making it look 
                        like readable English. Many desktop publishing packages and web 
                        page editors now use Lorem Ipsum as their default model text, 
                        and a search for 'lorem ipsum' will uncover many web sites still 
                        in their infancy. Various versions have evolved over the years.
                    </p>

                    <div class="about-btn">
                        <a href="{% url 'contact' %}" class="default-btn active">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area End -->



{% endblock %}